* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

img {
    pointer-events: none;
}

.disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

body {
    height: 100vh;
    display: flex;
    background: #060AB2;
}

#memory-game {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    position: absolute;
    padding-left: 30vh;
    padding-right: 30vh;
    visibility: visible;
}

#memory-game-big {
    visibility: hidden;
    width: 50%;
    height: 100%;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    position: absolute;
    left: 50vh;
    /* padding-left: 20vh;
    padding-right: 20vh; */
}

.endscreen {
    visibility: hidden;
    background-color: #514a6a;
    height: 100%;
    width: 100%;
    position: absolute;
}

.title {
    font-size: 5vw;
    color: rgb(153, 90, 51);
}

.memory-card {
    width: 24%;
    height: 33.%;
    margin: 0.5%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}


/* .memory-card-big {
    width: calc(24% - 10px);
    height: calc(33.333% - 10px);
    margin: 0.5%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
} */

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 2%;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.NewGameButton {
    position: fixed;
    top: 20px;
    left: 20px;
}

.BigGameButton {
    position: fixed;
    top: 80px;
    left: 20px;
}

.LabelWHO {
    position: fixed;
    color: aliceblue;
    top: 140px;
    left: 20px;
}

.LabelPoints {
    position: fixed;
    color: aliceblue;
    top: 200px;
    left: 20px;
}